.custom-label {
    opacity: 1;
    color: rgba(30, 81, 103, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 2px;
}

.selector-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.selector {
    border-radius: 8px;
    border: 1px solid rgba(30, 81, 103, 1);
    opacity: 1;
    height: 32px;
    background-color: rgba(245, 252, 255, 1);
    width: 49.1%;
    padding-left: 10px;
}
