.custom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    background-image: linear-gradient(0deg, rgba(236, 249, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    transform: rotate(0deg);
    width: 800px;
    height: 600px;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.custom-input {
    border-radius: 8px;
}

.button-container {
    align-self: flex-end;
    margin-top: 20px;
}
