.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-color: red;*/
    padding-right: 32px;
    padding-left: 32px;

}

.selector-row {
    flex-direction: row;
    margin-bottom: 39px;
}

.custom-title {
    opacity: 100%;
    color: #1E5167;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
}

.spacer {
    padding-right: 16px;
}