.title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 32px;
    padding-left: 32px;
}


.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 32px;
    padding-left: 32px;

}

.selector-row {
    display: flex;
    flex-direction: row;
    padding-right: 32px;
    padding-left: 32px;
}

.custom-title {
    opacity: 100%;
    color: #1E5167;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
}

.spacer {
    padding-right: 16px;
}

.vertical-spacer {
    padding-top: 16px;
}

